---
layout: poosl_default
title: POOSL | Features
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Features"                
                sub_title=""
                desc="Eclipse POOSL comes with an integrated editing, debugging and validation environment combined with a high-speed simulation engine.
                "
            %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Support of POOSL language"                
            desc="<p>The Parallel Object-Oriented Specification Language (POOSL) is a very expressive <a href='https://www.es.ele.tue.nl/poosl/'>language</a> to model concurrent hardware/software systems.</p>
        <p>The language is structured into three layers:
        <ul>
            <li>Object-oriented data structures: atomic deterministic operations.</li>
            <li>Hierarchical architecture: composition of interacting parallel processes.</li>
            <li>Non-deterministic process behavior: internal data, synchronous communication and discrete time.</li>
        </ul></p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/poosl_language.png"
            img_title="POOSL - Textual Editor"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Textual Editor"                
            desc="<p>The edit view allows a user to edit POOSL process and data classes textually.</p>
        <p>The editor supports key features that are expected from a modern IDE, such as<ul><li>
        syntax highlighting,</li><li>content assist,</li><li>quick fixes,</li><li>validation,</li><li>formatting,</li><li>navigation,</li><li>and refactoring/renaming.</li></ul></p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/textual-editor.png"
            img_title="POOSL - Textual Editor"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Composite Structure Diagram"                
            desc="<p>Some users may prefer a graphical view for adding and connecting POOSL processes and clusters, or just to understand what a given system architecture looks like.</p>
        <p>This is all possible using the composite structure diagram.</p>
        <p>The graphical representation in the composite structure diagram is synchronized with the edit view at all times, allowing the user to seemlessly switch between editing in the two views.</p>"       
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/composite-structure-diagram.png"
            img_title="POOSL - Composite Structure Diagram"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Class Diagram"                
            desc="<p>Class diagrams can be generated to illustrate the relation between POOSL classes and showing the methods and a parameters that are available for each class.</p>
            <p>It is also possible to edit and add new classes, methods, and parameters graphically and having the appropriate POOSL code being added automatically in the synchronized edit view.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/class-diagram.png"
            img_title="POOSL - Class Diagram"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Debug View"                
            desc="<p>The debug view facilitates efficient debugging by allowing a user to go through a simulation step-by-step or to execute to specified breakpoints.</p>
            <p>While the system is simulated in this view, it is possible to view interactions between POOSL processes in an automatically generated sequence diagram.</p>
            <p>It is also possible to visualize the execution in a communication diagram, which displays message communications on top of a composite structure diagram.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/debug-view.png"
            img_title="POOSL - Debug View"
        %}
    </div>
</section>
