---
layout: poosl_default
title: POOSL | Documentation
---


<section>
    <div class="container">
        {% include block_heading.html
            title="Documentation"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://www.es.ele.tue.nl/poosl/" target="_blank">POOSL specification language</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://github.com/eclipse/poosl/raw/main/docs/User/InstallationManual.pdf" target="_blank">Getting started</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="http://poosl.esi.nl/downloads/manuals/SymposiumWorkshop.pdf" target="_blank">Hands-on workshop</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://github.com/eclipse/poosl/raw/main/docs/User/Basic%20POOSL%20tutorial.pdf" target="_blank">Basic tutorial</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        {% include block_heading.html
            title="Presentations"                
            sub_title=""
            desc=""
        %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yB9ruWw5vig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
    
