---
layout: poosl_default
title: POOSL | Support
---

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Community Support"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p class="wow fadeInDown" data-wow-delay=".1s">Ask questions to the development team</p>
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://www.eclipse.org/forums/index.php/f/583/" target="_blank">Forum</a></li>
                    <!--<li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://bugs.eclipse.org/bugs/buglist.cgi?list_id=6776579&classification=Modeling&query_format=advanced&product=Sirius" target="_blank">Bugzilla</a> - Review and create Bugzilla entries</li>-->
                    <!--<li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Sirius" target="_blank">File a bug</a> - File bugs and feature requests</li>-->
                </ul>
            </div>
        </div>
    </div>
</section> 

<section>
    <div class="container">
        {% include block_heading.html
            title="Professional Services"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p class="wow fadeInDown" data-wow-delay=".1s">Obeo provides professional support and maintenance on packaged version of POOSL</p>
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://www.obeosoft.com/en/obeo-enterprise-for-poosl" target="_blank">Discover Obeo Enterprise for POOSL</a></li>
                </ul>
            </div>
        </div>
    </div>       
</section>
