<h2 class="title wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".2s">{{ include.title }}</h2> 
{% if include.sub_title %}
<h3 class="wow fadeInDown" data-wow-duration="600ms" data-wow-delay=".3s">{{ include.sub_title }}</h3>
{% else %}
<h3 class="d-none"></h3>
{% endif %}

{% if include.desc %}
<p class="wow fadeInDown" data-wow-duration="700ms" data-w ow-delay=".5s">{{ include.desc }}</p>
{% else %}
<p class="d-none"></p>
{% endif %}

{% if include.img_src %}
<p class="wow fadeInDown" data-wow-duration="800ms" data-w ow-delay=".6s">
<iframe class="shadow popup-youtube" width="{{ include.iframe_width }}" height="{{ include.iframe_height }}" src="{{ include.iframe_src }}?fs=1&amp;loop=1&amp;autohide=1&amp;theme=light&amp;color=white" frameborder="0" allowfullscreen=""></iframe></p>
{% else %}
<p class="d-none"></p>
{% endif %}
